/*.hero {
  background-color: var(--primary-shadow-color);
  background-position: relative;
  width: 280px;
  height: 280px ;
  box-sizing: border-box;

  &__img {
  position: relative;
  max-width: 256px;
}
  }*/
